### <center>1. Importing the dataset</center>

In [1]:
# Importing the dataset
import pandas as pd
df = pd.read_csv('icc_world_cup_2011.csv')
df

,team1,team2,winner,margin,ground,venue
0,Bangladesh,India,India,87 runs,Shere Bangla National Stadium,Dhaka
1,New Zealand,Kenya,New Zealand,10 wkts,MA Chidambaram Stadium,Chennai
2,Sri Lanka,Canada,Sri Lanka,210 runs,Mahinda Rajapaksa International Stadium,Hambantota
3,Australia,Zimbabwe,Australia,91 runs,Narendra Modi Stadium,Ahmedabad
4,England,Netherlands,England,6 wkts,Vidarbha Cricket Association Stadium,Nagpur
5,Pakistan,Kenya,Pakistan,205 runs,Mahinda Rajapaksa International Stadium,Hambantota
6,South Africa,West Indies,South Africa,7 wkts,Arun Jaitley Stadium,Delhi
7,Australia,New Zealand,Australia,7 wkts,Vidarbha Cricket Association Stadium,Nagpur
8,Bangladesh,Ireland,Bangladesh,27 runs,Shere Bangla National Stadium,Dhaka
9,Sri Lanka,Pakistan,Pakistan,11 runs,R.Premadasa Stadium,Colombo
10,India,England,NR,Tied,M.Chinnaswamy Stadium,Bengaluru
11,Zimbabwe,Canada,Zimbabwe,175 runs,Vidarbha Cricket Association Stadium,Nagpur
12,West Indies,Netherlands,West Indies,215 runs,Arun Jaitley Stadium,Delhi
13,Sri Lanka,Kenya,Sri Lanka,9 wkts,R.Premadasa Stadium,Colombo
14,England,Ireland,Ireland,3 wkts,M.Chinnaswamy Stadium,Bengaluru
15,South Africa,Netherlands,South Africa,231 runs,Punjab Cricket Association IS Bindra Stadium,Mohali
16,Pakistan,Canada,Pakistan,46 runs,R.Premadasa Stadium,Colombo
17,New Zealand,Zimbabwe,New Zealand,10 wkts,Narendra Modi Stadium,Ahmedabad
18,Bangladesh,West Indies,West Indies,9 wkts,Shere Bangla National Stadium,Dhaka
19,Sri Lanka,Australia,NR,Abandoned,R.Premadasa Stadium,Colombo
20,England,South Africa,England,6 runs,MA Chidambaram Stadium,Chennai
21,India,Ireland,India,5 wkts,M.Chinnaswamy Stadium,Bengaluru
22,Kenya,Canada,Canada,5 wkts,Arun Jaitley Stadium,Delhi
23,Pakistan,New Zealand,New Zealand,110 runs,Pallekele International Cricket Stadium,Pallekele
24,India,Netherlands,India,5 wkts,Arun Jaitley Stadium,Delhi
25,Sri Lanka,Zimbabwe,Sri Lanka,139 runs,Pallekele International Cricket Stadium,Pallekele
26,West Indies,Ireland,West Indies,44 runs,Punjab Cricket Association IS Bindra Stadium,Mohali
27,Bangladesh,England,Bangladesh,2 wkts,Zahur Ahmed Chowdhury Stadium,Chattogram
28,India,South Africa,South Africa,3 wkts,Vidarbha Cricket Association Stadium,Nagpur
29,New Zealand,Canada,New Zealand,97 runs,Wankhede Stadium,Mumbai
30,Australia,Kenya,Australia,60 runs,M.Chinnaswamy Stadium,Bengaluru
31,Bangladesh,Netherlands,Bangladesh,6 wkts,Zahur Ahmed Chowdhury Stadium,Chattogram
32,Pakistan,Zimbabwe,Pakistan,7 wkts,Pallekele International Cricket Stadium,Pallekele
33,South Africa,Ireland,South Africa,131 runs,Eden Gardens,Kolkata
34,Australia,Canada,Australia,7 wkts,M.Chinnaswamy Stadium,Bengaluru
35,England,West Indies,England,18 runs,MA Chidambaram Stadium,Chennai
36,Ireland,Netherlands,Ireland,6 wkts,Eden Gardens,Kolkata
37,Sri Lanka,New Zealand,Sri Lanka,112 runs,Wankhede Stadium,Mumbai
38,Bangladesh,South Africa,South Africa,206 runs,Shere Bangla National Stadium,Dhaka
39,Australia,Pakistan,Pakistan,4 wkts,R.Premadasa Stadium,Colombo
40,Zimbabwe,Kenya,Zimbabwe,161 runs,Eden Gardens,Kolkata
41,India,West Indies,India,80 runs,MA Chidambaram Stadium,Chennai
42,Pakistan,West Indies,Pakistan,10 wkts,Shere Bangla National Stadium,Dhaka
43,India,Australia,India,5 wkts,Narendra Modi Stadium A Ground,Ahmedabad
44,New Zealand,South Africa,New Zealand,49 runs,Shere Bangla National Stadium,Dhaka
45,Sri Lanka,England,Sri Lanka,10 wkts,R.Premadasa Stadium,Colombo
46,Sri Lanka,New Zealand,Sri Lanka,5 wkts,R.Premadasa Stadium,Colombo
47,India,Pakistan,India,29 runs,Punjab Cricket Association IS Bindra Stadium,Mohali
48,India,Sri Lanka,India,6 wkts,Wankhede Stadium,Mumbai

In [2]:
# Checking the presence of null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team1   49 non-null     object
 1   team2   49 non-null     object
 2   winner  49 non-null     object
 3   margin  49 non-null     object
 4   ground  49 non-null     object
 5   venue   49 non-null     object
dtypes: object(6)
memory usage: 2.4+ KB

In [3]:
# Check duplicacy of the values
df.count()

team1     49
team2     49
winner    49
margin    49
ground    49
venue     49
dtype: int64

### <center>2. Calculation & Aggregation of Data</center>

In [4]:
# Calculating the total matches played by each team
team1_total = df.groupby('team1').size()
team2_total = df.groupby('team2').size()
total_matches_played = pd.concat([team1_total, team2_total]).groupby(level=0).sum()
total_matches_played

Australia       7
Bangladesh      6
Canada          6
England         7
India           9
Ireland         6
Kenya           6
Netherlands     6
New Zealand     8
Pakistan        8
South Africa    7
Sri Lanka       9
West Indies     7
Zimbabwe        6
dtype: int64

In [5]:
# Calculate the 'wins' for each team
team1_wins = df[df['team1'] == df['winner']].groupby('team1').size()
team2_wins = df[df['team2'] == df['winner']].groupby('team2').size()
total_wins = pd.concat([team1_wins, team2_wins]).groupby(level=0).sum()
total_wins

Australia       4
Bangladesh      3
Canada          1
England         3
India           7
Ireland         2
New Zealand     5
Pakistan        6
South Africa    5
Sri Lanka       6
West Indies     3
Zimbabwe        2
dtype: int64

In [6]:
# Calculate the 'nr' (No Result) for each team
team1_nr = df[df['winner'] == 'NR'].groupby('team1').size()
team2_nr = df[df['winner'] == 'NR'].groupby('team2').size()
total_nr = pd.concat([team1_nr, team2_nr]).groupby(level=0).sum()
total_nr

Australia    1
England      1
India        1
Sri Lanka    1
dtype: int64

In [7]:
# Merge the calculation series into a single Pandas dataframe
all_matches = pd.concat([total_matches_played, total_wins, total_nr], axis=1)
all_matches.columns = ['total_matches', 'total_wins', 'total_nr']
all_matches = all_matches.fillna(0)
all_matches = all_matches.astype(int)
all_matches

              total_matches  total_wins  total_nr
Australia                 7           4         1
Bangladesh                6           3         0
Canada                    6           1         0
England                   7           3         1
India                     9           7         1
Ireland                   6           2         0
Kenya                     6           0         0
Netherlands               6           0         0
New Zealand               8           5         0
Pakistan                  8           6         0
South Africa              7           5         0
Sri Lanka                 9           6         1
West Indies               7           3         0
Zimbabwe                  6           2         0

In [8]:
# Calculating the losses and the points.
all_matches['loss'] = all_matches['total_matches'] - all_matches['total_wins'] - all_matches['total_nr']
all_matches['pts'] = (all_matches['total_wins'] * 2) + all_matches['total_nr']
all_matches

              total_matches  total_wins  total_nr  loss  pts
Australia                 7           4         1     2    9
Bangladesh                6           3         0     3    6
Canada                    6           1         0     5    2
England                   7           3         1     3    7
India                     9           7         1     1   15
Ireland                   6           2         0     4    4
Kenya                     6           0         0     6    0
Netherlands               6           0         0     6    0
New Zealand               8           5         0     3   10
Pakistan                  8           6         0     2   12
South Africa              7           5         0     2   10
Sri Lanka                 9           6         1     2   13
West Indies               7           3         0     4    6
Zimbabwe                  6           2         0     4    4

In [9]:
# Sort the DataFrame by 'pts' in descending order
all_matches = all_matches.sort_values(by='pts', ascending=False)
all_matches

              total_matches  total_wins  total_nr  loss  pts
India                     9           7         1     1   15
Sri Lanka                 9           6         1     2   13
Pakistan                  8           6         0     2   12
New Zealand               8           5         0     3   10
South Africa              7           5         0     2   10
Australia                 7           4         1     2    9
England                   7           3         1     3    7
Bangladesh                6           3         0     3    6
West Indies               7           3         0     4    6
Ireland                   6           2         0     4    4
Zimbabwe                  6           2         0     4    4
Canada                    6           1         0     5    2
Kenya                     6           0         0     6    0
Netherlands               6           0         0     6    0