### <center>1. Importing the dataset</center>

In [1]:
# Importing the dataset
import pandas as pd
df = pd.read_csv('icc_world_cup_2023.csv')
df

,team1,team2,winner,margin,ground,venue
0,England,New Zealand,New Zealand,9 wkts,Narendra Modi Stadium,Ahmedabad
1,Pakistan,Netherlands,Pakistan,81 runs,Rajiv Gandhi International Stadium,Hyderabad
2,Bangladesh,Afghanistan,Bangladesh,6 wkts,Himachal Pradesh Cricket Association Stadium,Dharamsala
3,South Africa,Sri Lanka,South Africa,102 runs,Arun Jaitley Stadium,Delhi
4,India,Australia,India,6 wkts,MA Chidambaram Stadium,Chennai
5,New Zealand,Netherlands,New Zealand,99 runs,Rajiv Gandhi International Stadium,Hyderabad
6,England,Bangladesh,England,137 runs,Himachal Pradesh Cricket Association Stadium,Dharamsala
7,Pakistan,Sri Lanka,Pakistan,6 wkts,Rajiv Gandhi International Stadium,Hyderabad
8,India,Afghanistan,India,8 wkts,Arun Jaitley Stadium,Delhi
9,Australia,South Africa,South Africa,134 runs,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow
10,New Zealand,Bangladesh,New Zealand,8 wkts,MA Chidambaram Stadium,Chennai
11,India,Pakistan,India,7 wkts,Narendra Modi Stadium,Ahmedabad
12,England,Afghanistan,Afghanistan,69 runs,Arun Jaitley Stadium,Delhi
13,Australia,Sri Lanka,Australia,5 wkts,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow
14,South Africa,Netherlands,Netherlands,38 runs (43 overs match),Himachal Pradesh Cricket Association Stadium,Dharamsala
15,New Zealand,Afghanistan,New Zealand,149 runs,MA Chidambaram Stadium,Chennai
16,India,Bangladesh,India,7 wkts,Maharashtra Cricket Association Stadium,Pune
17,Australia,Pakistan,Australia,62 runs,M.Chinnaswamy Stadium,Bengaluru
18,Netherlands,Sri Lanka,Sri Lanka,5 wkts,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow
19,England,South Africa,South Africa,229 runs,Wankhede Stadium,Mumbai
20,India,New Zealand,India,4 wkts,Himachal Pradesh Cricket Association Stadium,Dharamsala
21,Pakistan,Afghanistan,Afghanistan,8 wkts,MA Chidambaram Stadium,Chennai
22,South Africa,Bangladesh,South Africa,149 runs,Wankhede Stadium,Mumbai
23,Australia,Netherlands,Australia,309 runs,Arun Jaitley Stadium,Delhi
24,England,Sri Lanka,Sri Lanka,8 wkts,M.Chinnaswamy Stadium,Bengaluru
25,Pakistan,South Africa,South Africa,1 wkt,MA Chidambaram Stadium,Chennai
26,Australia,New Zealand,Australia,5 runs,Himachal Pradesh Cricket Association Stadium,Dharamsala
27,Netherlands,Bangladesh,Netherlands,87 runs,Eden Gardens,Kolkata
28,India,England,India,100 runs,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow
29,Afghanistan,Sri Lanka,Afghanistan,7 wkts,Maharashtra Cricket Association Stadium,Pune
30,Pakistan,Bangladesh,Pakistan,7 wkts,Eden Gardens,Kolkata
31,New Zealand,South Africa,South Africa,190 runs,Maharashtra Cricket Association Stadium,Pune
32,India,Sri Lanka,India,302 runs,Wankhede Stadium,Mumbai
33,Netherlands,Afghanistan,Afghanistan,7 wkts,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow
34,New Zealand,Pakistan,Pakistan,21 runs - DLS method,M.Chinnaswamy Stadium,Bengaluru
35,England,Australia,Australia,33 runs,Narendra Modi Stadium,Ahmedabad
36,India,South Africa,India,243 runs,Eden Gardens,Kolkata
37,Bangladesh,Sri Lanka,Bangladesh,3 wkts,Arun Jaitley Stadium,Delhi
38,Australia,Afghanistan,Australia,3 wkts,Wankhede Stadium,Mumbai
39,England,Netherlands,England,160 runs,Maharashtra Cricket Association Stadium,Pune
40,New Zealand,Sri Lanka,New Zealand,5 wkts,M.Chinnaswamy Stadium,Bengaluru
41,South Africa,Afghanistan,South Africa,5 wkts,Narendra Modi Stadium,Ahmedabad
42,Australia,Bangladesh,Australia,8 wkts,Maharashtra Cricket Association Stadium,Pune
43,England,Pakistan,England,93 runs,Eden Gardens,Kolkata
44,India,Netherlands,India,160 runs,M.Chinnaswamy Stadium,Bengaluru
45,India,New Zealand,India,70 runs,Wankhede Stadium,Mumbai
46,South Africa,Australia,Australia,3 wkts,Eden Gardens,Kolkata
47,India,Australia,Australia,6 wkts,Narendra Modi Stadium,Ahmedabad

In [2]:
# Checking the presence of null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team1   48 non-null     object
 1   team2   48 non-null     object
 2   winner  48 non-null     object
 3   margin  48 non-null     object
 4   ground  48 non-null     object
 5   venue   48 non-null     object
dtypes: object(6)
memory usage: 2.4+ KB

In [3]:
# Check duplicacy of the values
df.count()

team1     48
team2     48
winner    48
margin    48
ground    48
venue     48
dtype: int64

### <center>2. Calculation & Aggregation of Data</center>

In [4]:
team1_total = df.groupby('team1').size()
team2_total = df.groupby('team2').size()
total_matches_played = pd.concat([team1_total, team2_total]).groupby(level=0).sum()
total_matches_played

Afghanistan      9
Australia       11
Bangladesh       9
England          9
India           11
Netherlands      9
New Zealand     10
Pakistan         9
South Africa    10
Sri Lanka        9
dtype: int64

In [5]:
# Calculate the 'wins' for each team
team1_wins = df[df['team1'] == df['winner']].groupby('team1').size()
team2_wins = df[df['team2'] == df['winner']].groupby('team2').size()
total_wins = pd.concat([team1_wins, team2_wins]).groupby(level=0).sum()
total_wins

Afghanistan      4
Australia        9
Bangladesh       2
England          3
India           10
Netherlands      2
New Zealand      5
Pakistan         4
South Africa     7
Sri Lanka        2
dtype: int64

In [6]:
# Calculate the 'nr' (No Result) for each team
team1_nr = df[df['winner'] == 'NR'].groupby('team1').size()
team2_nr = df[df['winner'] == 'NR'].groupby('team2').size()
total_nr = pd.concat([team1_nr, team2_nr]).groupby(level=0).sum()
total_nr

Series([], dtype: int64)

In [7]:
# Merge the calculation series into a single Pandas dataframe
all_matches = pd.concat([total_matches_played, total_wins, total_nr], axis=1)
all_matches.columns = ['total_matches', 'total_wins', 'total_nr']
all_matches = all_matches.fillna(0)
all_matches = all_matches.astype(int)
all_matches

              total_matches  total_wins  total_nr
Afghanistan               9           4         0
Australia                11           9         0
Bangladesh                9           2         0
England                   9           3         0
India                    11          10         0
Netherlands               9           2         0
New Zealand              10           5         0
Pakistan                  9           4         0
South Africa             10           7         0
Sri Lanka                 9           2         0

In [8]:
# Calculating the losses and the points.
all_matches['loss'] = all_matches['total_matches'] - all_matches['total_wins'] - all_matches['total_nr']
all_matches['pts'] = (all_matches['total_wins'] * 2) + all_matches['total_nr']
all_matches

              total_matches  total_wins  total_nr  loss  pts
Afghanistan               9           4         0     5    8
Australia                11           9         0     2   18
Bangladesh                9           2         0     7    4
England                   9           3         0     6    6
India                    11          10         0     1   20
Netherlands               9           2         0     7    4
New Zealand              10           5         0     5   10
Pakistan                  9           4         0     5    8
South Africa             10           7         0     3   14
Sri Lanka                 9           2         0     7    4

In [9]:
# Sort the DataFrame by 'pts' in descending order
all_matches = all_matches.sort_values(by=['pts'], ascending=False)
all_matches

              total_matches  total_wins  total_nr  loss  pts
India                    11          10         0     1   20
Australia                11           9         0     2   18
South Africa             10           7         0     3   14
New Zealand              10           5         0     5   10
Afghanistan               9           4         0     5    8
Pakistan                  9           4         0     5    8
England                   9           3         0     6    6
Bangladesh                9           2         0     7    4
Netherlands               9           2         0     7    4
Sri Lanka                 9           2         0     7    4